*.pyc
*/*/*.pyc
examples/

*.py[cod]

*/*/*.ipynb
*/*/*.rst
*/*/*.html


# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

.cache/

build/
dist/
sandbox/
docs/
notebooks/

convert.log
tox.ini

foldometer.egg-info/

# certain ipython notebook files
Sandbox.ipynb
!notebooks/*.ipynb

# sublime project files
*.sublime-project
*.sublime-workspace

# PyCharm project files
*.xml
.idea
*.iml



# files related to python testing system
.coverage
setup.cfg
bento.info

# ignore all files related to pythontex except the template itself
tweezer/templates/pytex/*
!tweezer/templates/pytex/*.tex

# all TODO files
*.TODO

# Latex extra files
*.aux
*.out
*.log
*template.pdf

# profile files
*.profile

# files from nose testing
setup.json
tests.json

# ignore Mac specific files
.DS_Store
